@import '~bootstrap/scss/bootstrap';

body, html {
  background-image:url(http://78.media.tumblr.com/9951ca2e7e884a48ca5b5269f5514cd6/tumblr_nwjrkxWOcd1tslewgo1_500.gif);
  height: 100%;
  margin: 0;
  background-position: center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100%;
  overflow-y: hidden;
}

.card-signin {
  margin-top: 40%;
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  //margin-bottom: 2rem;
  font-weight: 300;
  //font-size: 1.5rem;
}

.card-signin .card-body {
padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  //padding: 1rem;
  transition: all 0.2s;
}

.hide {
  display: none;
}

#to-signup {
  text-align: center;
}

.card-body {
  max-height: 500px;
  overflow-y: scroll;
}

.handlebars-container {
  margin-top: 40%;
  border: 0;
  border-radius: 1rem;
}

#bucket-list-display {
  overflow: hidden;
}

.message {
  color: red;
}

.inner-handlebars-container {
  margin-top: -35%;
}

#to-login {
text-align: center;
}

.to-signup {
text-align: center;
}

.card-title {
  font-family: 'Paytone One', sans-serif;
  color: rgb(255, 212, 92);
  text-shadow: .8px .8px black;
  font-size: 30px;
}

.duck-right {
  -webkit-transform: scaleX(-1);
     transform: scaleX(-1);
}

.flames:hover {
  cursor: url('assets/images/flame.png'), auto;
}
