@import '~bootstrap/scss/bootstrap';

body, html {
  background-image:url(https://78.media.tumblr.com/9951ca2e7e884a48ca5b5269f5514cd6/tumblr_nwjrkxWOcd1tslewgo1_500.gif);
  height: 100%;
  margin: 0;
  background-position: center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100%;
  overflow: auto;
  background-attachment: fixed;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.card-signin .card-title {
  //margin-bottom: 2rem;
  font-weight: 300;
  //font-size: 1.5rem;
}

.card-signin .card-body {
padding: 2rem;
}


.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.hide {
  display: none;
}

#to-signup {
  text-align: center;
}

.handlebars-container {
  border: 0;
  border-radius: 1rem;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 370px;
  overflow: auto;
}

#bucket-list-display {
}

.message, .rotateMessage {
  color: red;
}

#to-login, #to-signup, .item-name {
  text-align: center;
  cursor: pointer;
}

.card-title {
  font-family: 'Paytone One', sans-serif;
  color: rgb(255, 212, 92);
  text-shadow: .8px .8px black;
  font-size: 30px;
}

.app-title {
  font-family: 'Paytone One', sans-serif;
  color: rgb(255, 212, 92);
  text-shadow: .8px .8px black;
}

.auth-container {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 370px;
}

.message {
  text-align: center;
}

@media (max-width: 1420px) {
  .hidden {display: none;}
}

@media (max-width: 500px) {
  .title-text {font-size: 15px;}
  .auth-container {width: 90%;}
}

@media (max-width: 576px) {
.edit-button {display: none;}
.delete-button {display: none;}
}

@media (max-width: 1080px) {

}

@media (max-height: 440px) {
  .card-signin {
    margin-top: 120px;}
  .handlebars-container {
    margin-top: 60px;
    width: 95%;
  }
}
